@import url("../fonts/rubik/stylesheet.css");
@import url("../fonts/lexend/stylesheet.css");

:root {
    --col-width: 2.1875rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "Rubik Doodle Shadow";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tilte {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* ################################################################# ACTION */
.action {
    width: calc(var(--col-width) * 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.action > * {
    flex: 1;
}

.action .type {
    flex: 2;
    display: flex;
    gap: 12px;
    position: relative;
}

.action .type > * {
    font-family: "Lexend";
    font-weight: 900;
    color: white;
    padding: 4px 12px;
    background-color: #272727;
    border-radius: 8px;
    cursor: pointer;
}

.action .type .active {
    background-color: #7deac6;
}

.action .type .choose {
    background-color: transparent;
    width: 170px;
    position: absolute;
    top: calc(100% + 8px);
    left: 8px;
    border-radius: 4px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action .type .choose > * {
    flex: 1;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #272727;
}

.action .type .choose > *:hover {
    background-color: #111111;
}

.action .type .choose .setup {
    position: absolute;
    top: calc(100% + 8px);
    left: 30%;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action .type .choose .setup > * {
    flex: 1;
    border-radius: 4px;
    background-color: #2674f0;
    padding: 8px 16px;
}

.action .button {
    flex: 3;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.action .button .turn {
    flex: 1;
    font-family: "Lexend";
    font-weight: 900;
    font-size: 20px;
    color: black;
    /* padding: 0 12px; */
}

.action .button > *:last-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.undo,
.refresh {
    padding: 2px;
    cursor: pointer;
}

.tilte:active,
.undo:active,
.refresh:active {
    scale: 0.9 0.9;
    cursor: default;
}

.undo {
    display: none;
}

/* ################################################################# GAME BOARD */
.game-board {
    margin: 10px auto 32px;
    display: grid;
    grid-template-columns: repeat(15, var(--col-width));
    grid-template-rows: repeat(19, var(--col-width));
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}

.cell {
    width: var(--col-width);
    height: var(--col-width);
    line-height: var(--col-width);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: thin solid #eee;
}

.cell img {
    width: 22px !important;
}

.cell.seeing,
.cell.moved {
    background-color: #ffeaa7;
}

.cell.seeing:active {
    cursor: default;
}

.cell.moved:active {
    cursor: pointer;
}
.winning-cell-X {
    background-color: #3174c8 !important;
}

.winning-cell-O {
    background-color: #ea576c !important;
}

.winning-cell-X img,
.winning-cell-O img {
    filter: brightness(0) invert(1);
}

/* ################################################################# GAME STOP */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #272727;
    opacity: 0.5;
}

.box {
    font-family: "Lexend";
    font-weight: 900;
    color: #ffffff;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.box-X {
    background-color: #959bdb !important;
}

.box-O {
    background-color: #db95c1 !important;
}

.box > * {
    width: calc(var(--col-width) * 15);
    text-align: center;
}

.box > *:first-child {
    font-size: calc(var(--col-width) * 1.2);
    padding: 8px 0;
}

.box-X > *:first-child {
    border-bottom: 2px solid #412492 !important;
}
.box-O > *:first-child {
    border-bottom: 2px solid #922462 !important;
}

.box > *:last-child {
    font-size: calc(var(--col-width) * 0.6);
    display: flex;
    justify-content: space-around;
    padding: 0 12px;
    gap: 8px;
}

.box > *:last-child > * {
    flex: 1;
    padding: 8px 0;
    border-radius: 8px;
    background-color: #412492;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.box-X > *:last-child > * {
    background-color: #412492 !important;
}

.box-O > *:last-child > * {
    background-color: #922462 !important;
}

@media only screen and (max-width: 768px) {
    :root {
        --col-width: 2rem !important;
    }

    .game-board {
        margin: 40px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --col-width: 1.8rem !important;
    }
}

@media only screen and (max-width: 435px) {
    :root {
        --col-width: 1.5rem !important;
    }

    .cell img {
        width: 16px !important;
    }
}

@media only screen and (max-width: 365px) {
    :root {
        --col-width: 1.4rem !important;
    }
}

@media only screen and (max-width: 340px) {
    :root {
        --col-width: 1.25rem !important;
    }

    .action .type {
        font-size: 16px;
    }

    .action .button .turn {
        font-size: 14px;
    }
}
